/*завдання 2 */
a[href="https://www.youtube.com/"] {
color:crimson
}
a[href="https://validator.w3.org/"] {
    color:crimson
}

ul~p {
   font-size: 24px
}
/*завдання 3 */

h3:first-child {
    color:pink
}

#greycol {color:gray}

body > section > div > div > p {
    color:red
}

 {
color:green
}

.yellow {
    color:yellow
}